<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8"/>
  <title>Events</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<p th:unless="${events} and ${events.size()}"> no events </p>
<!--/* if ture will not display is there a non null variable called events and there are things in the event list. */-->
<ul>
  <th:block th:each="event : ${events}">
    <li th:text="${event.name}"></li>
  </th:block>
</ul>

</body>
</html>